<html lang="en">
<head>
    <link href="static/main.css" rel="stylesheet" type="text/css" media="all">
</head>
    <body>
      <h1 style="text-align:center;">Example</h1>
    	<div class="box">
  			<h1>Log In</h1>
  			<form action="/" method="post">
    			<input type="text" name="username" id="username" placeholder="Username" required/>
    			<br>
    			<input type="password" name="password" id="password" placeholder="Password" required/>
    			<br>
    			<input type="submit" class="button" value="Log In"/>
  			</form>
		</div> 
    {%if users%}
    <div class="users" style="margin-left:20%">
      <h2>Registered Users List</h2>
      <table style="width:100%;">
        {%for user in users%}
          <tr>
            <td>{{user[0]}}</td>
          </tr>   
        {%endfor%}
      </table>
    </div>
    {%endif%}
</body>
</html>
